repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
          - id: check-toml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]

    - repo: https://github.com/PyCQA/isort
      rev: 5.10.1
      hooks:
          - id: isort

    - repo: https://github.com/pycqa/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
            exclude: ^tests/

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.971
      hooks:
          - id: mypy
