name: CI

on:
    push:
        tags:
            - v*
    pull_request:
        branches:
            - master

concurrency:
    group: build-${{ github.head_ref }}
    cancel-in-progress: true

env:
    CIBW_SKIP: >
        pp*

jobs:
    binary-wheels-standard:
        name: Binary wheels for ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]

        steps:
            - uses: actions/checkout@v2
              with:
                  # Fetch all tags
                  fetch-depth: 0

            - name: Build wheels
              uses: pypa/cibuildwheel@v2.16.5
              env:
                  CIBW_ARCHS_MACOS: x86_64
                  HATCH_BUILD_HOOKS_ENABLE: "true"

            - uses: actions/upload-artifact@v2
              with:
                  name: artifacts
                  path: wheelhouse/*.whl
                  if-no-files-found: error

    binary-wheels-arm:
        name: Build Linux wheels for ARM
        runs-on: ubuntu-latest
        # Very slow, no need to run on PRs
        if: >
            github.event_name == 'push'
            &&
            (github.ref == 'refs/heads/master' || startsWith(github.event.ref, 'refs/tags'))

        steps:
            - uses: actions/checkout@v2
              with:
                  # Fetch all tags
                  fetch-depth: 0

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1
              with:
                  platforms: arm64

            - name: Build wheels
              uses: pypa/cibuildwheel@v2.15.0
              env:
                  CIBW_ARCHS_LINUX: aarch64
                  HATCH_BUILD_HOOKS_ENABLE: "true"

            - uses: actions/upload-artifact@v2
              with:
                  name: artifacts
                  path: wheelhouse/*.whl
                  if-no-files-found: error

    publish:
        name: Publish release
        needs:
            - binary-wheels-standard
            - binary-wheels-arm
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

        steps:
            - uses: actions/download-artifact@v2
              with:
                  name: artifacts
                  path: dist

            - name: Push build artifacts to PyPI
              uses: pypa/gh-action-pypi-publish@v1.4.2
              with:
                  skip_existing: true
                  user: __token__
                  password: ${{ secrets.PYPI_API_TOKEN }}
